<p>gridcomp works!</p>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>User 1</th>
        <th>User 2</th>
        <th>User 3</th>
        <th>User 4</th>
        <th>User 5</th>
      </tr>
    </thead>
    <tbody>
     

    </tbody>
  </table>
</div>


<div class="grid-container">

  <div class="grid-item" *ngFor="let data of finalData">
    <img [src]="data.picture.large" alt="image"><br>
    {{data.cell}}<br>
    {{data.name.title}}.{{data.name.first}} {{data.name.last}}<br>
    {{data.email}}<br>
    {{data.dob.age}} {{data.dob.date}}<br>
    {{data.gender}}<br>
    {{data.location.city}}<br>
    {{data.location.country}}<br>
    {{data.location.timezone.description}}<br>
    {{data.phone}}

  </div>

  </div>
